<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oozeetech.iproperty_cms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ImportantNumbersActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.NoticesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ManagementActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.EventsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.WebsiteActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.GelleryActivity"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.GuestRequestActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.FacilityBookingDashbordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.FacilitybookingListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.FacilityBookingDashbordActivity"
            ></activity>
        <activity
            android:name=".ui.FaultReportingActivity"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.FacilityBookindActivity"
            android:parentActivityName=".ui.FacilityBookingDashbordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DetailFacilityBookingActivity"
            android:parentActivityName=".ui.FacilityBookingDashbordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.GalleryDetailListActivity"
            android:parentActivityName=".ui.GelleryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ViewAllFaultsActivity"
            android:parentActivityName=".ui.FaultReportingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.PushNotificationActivity"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.EventsDetailsActivity"
            android:parentActivityName=".ui.EventsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.PaymentDetailsActivity"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>